<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_fuel"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Material.NoActionBar">

        <meta-data
            android:name="io.hammerhead.karooext.MANIFEST_URL"
            android:value="https://raw.githubusercontent.com/Rfaulkne/karoo-fuel-timer/main/manifest.json" />

        <activity
            android:name="com.rfaulkne.karoofueltimer.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name="com.rfaulkne.karoofueltimer.FuelActionReceiver"
            android:exported="false" />

        <service
            android:name="com.rfaulkne.karoofueltimer.FuelTimerExtension"
            android:exported="true"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="io.hammerhead.karooext.KAROO_EXTENSION" />
            </intent-filter>
            <meta-data
                android:name="io.hammerhead.karooext.EXTENSION_INFO"
                android:resource="@xml/extension_info" />
        </service>
    </application>
</manifest>
